In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data.csv")
data

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108045  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [3]:
data.describe()

                x1            x2            y
count  2222.000000  2.224000e+03  2227.000000
mean     -4.818766  8.947626e+04     0.442299
std      74.939909  2.983323e+06     0.496771
min    -134.369160 -1.348761e+02     0.000000
25%     -71.757030 -8.012983e+01     0.000000
50%      -9.836555 -1.046151e+00     0.000000
75%      59.813962  6.389086e+01     1.000000
max     134.508687  1.000000e+08     1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      2222 non-null   float64
 1   x2      2224 non-null   float64
 2   y       2227 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 52.3 KB

In [5]:
data = data.interpolate()
data

              x1            x2  y
0    -119.366669  1.150000e+02  1
1    -101.108045  9.777716e+01  1
2    -130.278658  1.067677e+02  1
3    -114.703415  1.011955e+02  1
4    -119.366669  1.150000e+02  1
...          ...           ... ..
2222   98.714112  8.964312e+01  0
2223   96.633331  9.100000e+01  0
2224   85.673940  1.038393e+02  0
2225   78.958862  7.860537e+01  0
2226  109.624009  1.000000e+08  0

[2227 rows x 3 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      2227 non-null   float64
 1   x2      2227 non-null   float64
 2   y       2227 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 52.3 KB

In [7]:
X = data.drop(['y'],axis=1)
Y = data['y']
Y=np.array(Y)

In [8]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

Logistic Regression

In [9]:
import sklearn.linear_model as lmod
model = lmod.LogisticRegression(random_state=42)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a

0.5515695067264574

Decision Tree Classification

In [10]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=5)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

# print accuracy using metrics library
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a

0.9506726457399103

K-Nearest neighbours

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.1)
y_test
model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)
print(model)
y_pred = model.predict(x_test)
y_pred
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a

KNeighborsClassifier(n_neighbors=3)

0.9596412556053812

SVM with Linear Kernel

In [12]:
from sklearn import svm
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)
y_test
model = svm.LinearSVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\sklearn\svm\_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.47533632286995514

SVM with RBF kernel

In [13]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20)
y_test
model = SVC(kernel="rbf")
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn import metrics
a=metrics.accuracy_score(y_pred,y_test)
a

0.5919282511210763

I would prefer decision tree classification on this dataset because it predicts more accurate result than the other Machine Learning models.